<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CellIdentifier</key>
		<string>EmptyCell</string>
		<key>CellHeight</key>
		<string>30</string>
		<key>DatabaseKey</key>
		<string>none</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>StarCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Select Region</string>
		<key>DatabaseKey</key>
		<string>fkRegionId</string>
		<key>isCompulsory</key>
		<true/>
		<key>icon</key>
		<string>register_dropdown</string>
		<key>Selector</key>
		<string>selectRegion:</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>StarCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Select City</string>
		<key>DatabaseKey</key>
		<string>fkCityId</string>
		<key>isCompulsory</key>
		<true/>
		<key>icon</key>
		<string>register_dropdown</string>
		<key>Selector</key>
		<string>selectCity:</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>TextFieldCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Route (if any)</string>
		<key>DatabaseKey</key>
		<string>routeTitle</string>
		<key>isCompulsory</key>
		<false/>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>TextFieldCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Origin</string>
		<key>DatabaseKey</key>
		<string>origin</string>
		<key>isCompulsory</key>
		<false/>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>TextFieldCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Destination</string>
		<key>DatabaseKey</key>
		<string>destination</string>
		<key>isCompulsory</key>
		<false/>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>ButtonCell</string>
		<key>CellHeight</key>
		<string>50</string>
		<key>Title</key>
		<string>Destination</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>StarCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Service Type</string>
		<key>DatabaseKey</key>
		<string>routeServiceTypeId</string>
		<key>isCompulsory</key>
		<false/>
		<key>icon</key>
		<string>register_dropdown</string>
		<key>Selector</key>
		<string>selectServiceType:</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>StarCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Arrival Date</string>
		<key>DatabaseKey</key>
		<string>plannerArrivalDate</string>
		<key>isCompulsory</key>
		<false/>
		<key>icon</key>
		<string>journey_iconarrive</string>
		<key>Selector</key>
		<string>selectArrivalDate:</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>StarCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>Start Time</string>
		<key>DatabaseKey</key>
		<string>plannerStartTime</string>
		<key>isCompulsory</key>
		<false/>
		<key>icon</key>
		<string>journey_icontime</string>
		<key>Selector</key>
		<string>selectStartTime:</string>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>StarCell</string>
		<key>CellHeight</key>
		<string>35</string>
		<key>Title</key>
		<string>End Time</string>
		<key>DatabaseKey</key>
		<string>plannerEndTime</string>
		<key>icon</key>
		<string>journey_icontime</string>
		<key>Selector</key>
		<string>selectEndTime:</string>
		<key>isCompulsory</key>
		<false/>
	</dict>
	<dict>
		<key>CellIdentifier</key>
		<string>GetScheduleCell</string>
		<key>CellHeight</key>
		<string>60</string>
		<key>Title</key>
		<string>End Time</string>
		<key>DatabaseKey</key>
		<string>plannerEndTime</string>
		<key>icon</key>
		<string>journey_icontime</string>
		<key>Selector</key>
		<string>selectEndTime:</string>
		<key>isCompulsory</key>
		<false/>
	</dict>
</array>
</plist>
